@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff !important;
    color: #000;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

p {
    font-family: Montserrat, sans-serif;
    font-size: 1em;
}

.mockup-code:before {
    content: '';
    margin-bottom: 1rem;
    display: block;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 9999px;
    opacity: 0.3;
    box-shadow: 1.4em 0, 2.8em 0, 4.2em 0;
}

.header {
    /* background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%); */
    /* background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%); */
    /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */
    /* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
    /* background-image: linear-gradient(to right, #243949 0%, #517fa4 100%); */
    background-image: linear-gradient(-20deg, #2f514f 0%, #9bc5c3 100%);
    /* background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%); */
}

.waves {
    position: relative;
    width: 100%;
    height: 20vh;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 90px;
        min-height: 90px;
    }
}
