@import 'tailwindcss';

@theme {
    /* Font Families */
    --font-open-sans: "Open Sans", sans-serif;
    --font-montserrat: Montserrat, sans-serif;
    --font-playfair-display: "Playfair Display", serif;
  
    /* Shadow Green Color Shades */
    --color-shadow-green-50: #f3f8f7;
    --color-shadow-green-100: #e0edec;
    --color-shadow-green-200: #c4dddc;
    --color-shadow-green-300: #9bc5c3;
    --color-shadow-green-400: #6ba5a2;
    --color-shadow-green-500: #4f8b8a;
    --color-shadow-green-600: #457475;
    --color-shadow-green-700: #3c6062;
    --color-shadow-green-800: #375153;
    --color-shadow-green-900: #314648;
    --color-shadow-green-950: #1d2d2f;
  
    /* Chathams Blue Color Shades */
    --color-chathams-blue-50: #f1f9fe;
    --color-chathams-blue-100: #e3f1fb;
    --color-chathams-blue-200: #c0e3f7;
    --color-chathams-blue-300: #89cdf0;
    --color-chathams-blue-400: #4ab3e6;
    --color-chathams-blue-500: #239ad4;
    --color-chathams-blue-600: #157bb4;
    --color-chathams-blue-700: #126292;
    --color-chathams-blue-800: #13547a;
    --color-chathams-blue-900: #154665;
    --color-chathams-blue-950: #0e2d43;
  }

html,
body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff !important;
    color: #000;
    font-size: 1em;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.mockup-code:before {
    content: '';
    margin-bottom: 1rem;
    display: block;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 9999px;
    opacity: 0.3;
    box-shadow: 1.4em 0, 2.8em 0, 4.2em 0;
}

.header {
    /* background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%); */
    /* background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%); */
    /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */
    /* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
    /* background-image: linear-gradient(to right, #243949 0%, #517fa4 100%); */
    background-image: linear-gradient(-20deg, #2f514f 0%, #9bc5c3 100%);
    /* background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%); */
}

.waves {
    position: relative;
    width: 100%;
    height: 20vh;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 90px;
        min-height: 90px;
    }
}
