---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/assets/isaac_profile-nobg.png" />
        <meta name="viewport" content="width=device-width" />
        <title>Astro</title>
    </head>
    <body>
        <h1>Isaac Mackle Blog</h1>
    </body>
</html>
