---
import Section from './Section.astro';
---

<Section>
    <br />
    <p class="pb-2 pt-6 text-4xl">Blog</p>
    <div class="text-sm">
        <p class="py-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            vero esse non molestias eos excepturi, inventore atque cupiditate.
            Sed voluptatem quas omnis culpa, et odit.Lorem ipsum dolor sit amet <span
                class="font-black text-orange-600">React</span
            > adipisicing elit. Tenetur vero esse non molestias eos excepturi, inventore
            atque cupiditate. Sed voluptatem quas omnis culpa, et odit.Lorem ipsum
            dolor sit amet consectetur <span class="font-black text-orange-600"
                >Golang</span
            > elit. Tenetur vero esse non molestias eos <span
                class="font-black text-orange-600">DotNET</span
            >, inventore atque cupiditate. Sed voluptatem quas omnis culpa, et
            odit.
        </p>
    </div>
</Section>
