<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="./styles.min.css" />

    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1,shrink-to-fit=no"
        />
        <meta name="title" content="{{ meta.title }}" />
        <meta property="og:title" content="{{ meta.title }}" />
        <meta property="twitter:title" content="{{ meta.title }}" />
        <meta name="description" content="{{ meta.description }}" />
        <meta property="og:description" content="{{ meta.description }}" />
        <meta property="twitter:description" content="{{ meta.description }}" />
        <meta property="og:image" content="{{ meta.image }}" />
        <meta property="twitter:image" content="{{ meta.image }}" />
        <meta property="og:type" content="website" />
        <link rel="canonical" href="{{ meta.url }}" />
        <meta property="og:url" content="{{ meta.url }}" />
        <meta property="twitter:url" content="{{ meta.url }}" />
        <meta property="twitter:card" content="summary_large_image" />

        <title>{% block title %}{{ title }}{% endblock title %}</title>
        <link rel="shortcut icon" href="./assets/isaac_profile-nobg.png" />
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin="anonymous"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
            rel="stylesheet"
        />
        {# AOS Start #}
        <link
            href="https://unpkg.com/aos@2.3.1/dist/aos.css"
            rel="stylesheet"
        />
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        {# AOS End #}
    </head>

    <body>
        {% include "components/_navigation.html" %} {% block content %} {%
        endblock content %} {% include "components/_footer.html" %}
        <script>
            AOS.init();
        </script>
    </body>
</html>
