{% extends "base.html" %}
{% block content %}
<div class="prose prose-headings:text-black container mx-auto px-4 text-black">
    <h1>{{RESUME.title}}</h1>
    <p>{{RESUME.blurb}}</p>
    <div>
        <h2>{{RESUME.experience.title}}</h2>
        <div class="ml-4">
            {% for job in RESUME.experience.jobs %}
            <p class="mb-0 font-bold">{{job.role}}</p>
            <p class="my-0 font-extralight">{{job.company}}</p>
            <p class="mt-0">{{job.description}}</p>
            <div>
                {% for example in job.examples %}
                <p class="mb-0 underline">{{example.role}}</p>
                <ul>
                    {% for ex in example.experiences %}
                    <li>
                        <span class="font-bold">{{ex.project}}: </span>
                        <span>{{ex.description}}</span>
                        {% if ex.description is defined and ex.technology is defined %}
                        <span> - </span>
                        {% endif %}
                        <span class="italic">{{ex.technology}}</span>
                    </li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <h2>{{RESUME.skills.title}}</h2>
        <div class="ml-4">
            {% for skill in RESUME.skills.skills %}
            <p><span class="font-bold">{{skill.key}}</span> {{skill.value}}</p>
            {% endfor %}
        </div>
    </div>
    <div>
        <h2>{{RESUME.skills.other.title}}</h2>
        <div class="ml-4">
            {% for skill in RESUME.skills.other.skills %}
            <p><span class="font-bold">{{skill.key}}</span> {{skill.value}}</p>
            {% endfor %}
        </div>
    </div>
    <div>
        <h2>{{RESUME.academic.title}}</h2>
        <div class="ml-4">
            {% for record in RESUME.academic.records %}
            <div>
                <p class="mb-0 font-bold">{{record.title}}</p>
                <p class="my-0 font-extralight">{{record.year}}</p>
                <p class="mt-0">{{record.location}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <button>Button Resume</button>
</div>
{% endblock content %}